<mat-card class="my_card my-4">
  <mat-card-header>
    <mat-card-title>My List</mat-card-title>
    <mat-card-subtitle>things i need to do</mat-card-subtitle>
  </mat-card-header>
  <div class="mx-4 my-2 d-flex justify-content-between">
    <mat-list role="list" [ngClass]="{'w-50': toAdd || toShowDetail, 'w-100': !toAdd && !toShowDetail}">
      @for (note of listOfNotes; track note) {
        <mat-list-item class="item_list" (click)="showDetails(note)">
          <div matListItemTitle><b>{{note.title}}</b></div>
          <!-- <div matListItemLine>{{note.desc}}</div>
          <div matListItemLine>{{note.date | date}}</div> -->
        </mat-list-item>
      }
    </mat-list>
    @if (toAdd) {
      <form [formGroup]="noteGroup" (ngSubmit)="saveNote()" novalidate class="d-flex flex-column w-50 mx-auto">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title"required>
          @if (!noteGroup.get('title')?.valid) {
            <mat-error>Title is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="desc" required>
          @if (!noteGroup.get('desc')?.valid) {
            <mat-error>Description is required</mat-error>
          }
        </mat-form-field>
        @if (!toModify) {
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (!noteGroup.get('date')?.valid) {
              <mat-error>Date is required</mat-error>
            }
          </mat-form-field>
        }
        <button mat-raised-button color="primary" type="submit">Save</button>
       </form>
    }    
    @if (toShowDetail) {
      <mat-card class="example-card w-50 mx-2 justify-content-between" [class.mat-elevation-z8]>
        <mat-card-header>
          <mat-card-title>{{selectedNote.title}}</mat-card-title>
          <mat-card-subtitle>{{selectedNote.date | date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{selectedNote.desc}}</p>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
            <button mat-raised-button color="accent" class="mx-1" (click)="editNote()">Edit</button>
            <button mat-raised-button color="warn" (click)="deleteNote()">Delete</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    }
  </div>
  <mat-card-actions>
    <button mat-raised-button color="primary"(click)="showAdd()">{{!toAdd ? 'ADD' : 'HIDE'}}</button>
  </mat-card-actions>
</mat-card>